{% extends "base.html" %}
{% block title %}URL Shortner{% endblock %}

{% block content %}
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
        <h1>Jonathan's URL Shortner</h1>
        <br>
        <div>
            <p> shortned URL:  http://127.0.0.1:5000/{{shortEnd}} </p>
            <button class="btn btn-primary" onClick="copyToClipboard('http://127.0.0.1:5000/{{shortEnd}}')">Copy link</button>

            {% block scripts %}
            <script>
                function copyToClipboard(link)  {
                    navigator.clipboard.writeText(link)
                }
            </script>
            {% endblock %}

        </div>

    </div>
</div>
{% endblock %}